@charset "UTF-8";
html {
  width: 100vw;
  overflow-x: hidden;
}
html body {
  width: 100%;
  margin: 0;
  font-family: Ubuntu;
}

main {
  width: 100%;
  height: 100%;
}
main .container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 50px 20px 0;
}

.padge {
  width: 100%;
  height: 100%;
  max-height: 725px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
  margin-top: 55px;
}

.title_item {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 105px;
}
.title_item .title-text {
  font-size: 15px;
  color: #a5a5a5;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.title_item .title {
  font-size: 61px;
  color: #4c4c4c;
  font-weight: lighter;
  margin: 30px 0;
}
.title_item .title span {
  color: #1abc9c;
}

.icon {
  max-width: 85px;
  max-height: 85px;
  width: 100%;
  margin: 0 auto 45px;
}
.icon img {
  max-width: 100%;
  max-height: 100%;
}

.our {
  width: 100%;
  padding: 0 0 55px;
  max-height: 950px;
  margin-top: 55px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.content .content_item {
  width: 33%;
}
.content .content_item .content_title {
  font-size: 27px;
  color: #4c4c4c;
  font-weight: 400;
}
.content .content_item .content-text {
  font-size: 15px;
  color: #939598;
  font-weight: 400;
  max-width: 340px;
  margin: auto;
  line-height: 1.8;
}

.content_slider {
  display: flex;
  padding: 0 50px;
}
.content_slider .slider {
  width: 60%;
  max-width: 750px;
  background-color: #f4f4f4;
  margin-right: 30px;
  max-height: 500px;
}
.content_slider .text_slider {
  width: 28%;
  border: 1px solid #e1e2e4;
  max-width: 365px;
  max-height: 415px;
}

.text_slider {
  padding: 20px;
}
.text_slider .list_block {
  text-align: left;
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e2e4;
  letter-spacing: 2px;
}
.text_slider .list_block p {
  font-size: 10px;
  color: #dddddd;
}
.text_slider .list_block h2 {
  font-size: 20px;
  font-weight: 400;
}
.text_slider .list_block h3 {
  font-size: 14px;
  font-weight: 500;
}
.text_slider .list_block h4 {
  font-size: 10px;
}
.text_slider .list_block .messeg {
  font-size: 14px;
  color: #4c4c4c;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.8;
}

.list_block:last-child {
  border-bottom: none;
}

.full_screen {
  background-color: #f7f7f7;
  width: 100%;
}

.services {
  width: 100%;
  padding: 0 0 55px;
  margin-top: 80px;
}

.services_web {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.services_item {
  max-width: 360px;
  width: 100%;
  text-align: left;
  margin: 0 15px 30px;
  background-color: #ffffff;
  padding: 30px 40px;
  -webkit-box-shadow: 2px 1px 8px 3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 2px 1px 8px 3px rgba(0, 0, 0, 0.13);
  box-shadow: 2px 1px 8px 3px rgba(0, 0, 0, 0.13);
  box-sizing: border-box;
}
.services_item h1 {
  color: #4c4c4c;
  font-size: 27px;
  margin-top: 7px;
}
.services_item ul {
  padding: 0;
}
.services_item li {
  list-style-type: none;
  padding: 15px 16px;
  -webkit-box-shadow: 6px 7px 8px -3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 6px 7px 8px -3px rgba(0, 0, 0, 0.13);
  box-shadow: 6px 7px 8px -3px rgba(0, 0, 0, 0.13);
  transition: all 0.5s ease-out;
}
.services_item li:hover {
  background-color: #f2f2f2;
  transition: all 0.5s ease-out;
}

.Development_item {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Development_item h2 {
  font-size: 27px;
  color: #4c4c4c;
  font-weight: 400;
  margin-top: 7px;
  margin-bottom: 50px;
}

.ddm {
  width: 33.33333%;
  display: flex;
  flex-wrap: wrap;
}

.features_content {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

.btn_item {
  padding: 22px 40px;
  outline: none;
  border-radius: 8px;
  text-decoration: none;
  color: #777777;
  -webkit-box-shadow: 2px 1px 8px 3px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 2px 1px 8px 3px rgba(0, 0, 0, 0.13);
  box-shadow: 2px 1px 8px 3px rgba(0, 0, 0, 0.13);
  margin-right: 7px;
  font-weight: 400;
  transition: all 0.5s ease-out;
}

.btn_item:hover {
  background-color: #1abc9c;
  color: white;
  transition: all 0.5s ease-out;
}

.features_item {
  display: flex;
  margin: 100px 0 150px;
}

.videos {
  width: 50%;
  background-color: #ebebeb;
  padding-left: 35px;
}

.features_text {
  box-sizing: border-box;
  width: 50%;
  display: flex;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  padding: 65px 0 65px 120px;
}
.features_text h1 {
  font-size: 27px;
  color: #4c4c4c;
  font-weight: 400;
}
.features_text p {
  font-size: 16px;
  color: #939598;
  line-height: 2;
}

.work {
  max-width: 1350px;
  margin: 0 auto;
  background-color: #f8f9fb;
  padding-top: 105px;
  padding-bottom: 80px;
  box-sizing: border-box;
}
.work .title-text {
  text-align: center;
}
.work .btn_block {
  display: flex;
  justify-content: center;
}
.work .btn_block .btn_item {
  padding: 12px 23px;
  background-color: #1abc9c;
  color: white;
  border-radius: 0;
  font-size: 18px;
  transition: all 0.5s ease-out;
}
.work .btn_block .btn_item:hover {
  background-color: #111;
  transition: all 0.5s ease-out;
}

.collection {
  display: flex;
  flex-wrap: wrap;
}
.collection .collection_item {
  width: 25%;
  position: relative;
  transition: all ease-out 0.3s;
}
.collection .collection_item img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}
.collection .collection_item .after_item {
  width: 100%;
  height: 70px;
  bottom: 0;
  background-color: #111111;
  position: absolute;
  color: white;
  text-align: left;
  padding: 12px 15px;
  box-sizing: border-box;
  opacity: 0;
  transition: all ease-out 0.3s;
}
.collection .collection_item .after_item span {
  font-weight: 700;
}
.collection .collection_item .beffor {
  width: 100%;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  top: 0;
  background: none;
  position: absolute;
  color: #5ebd85;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: all ease-out 0.3s;
}
.collection .collection_item .beffor .beffor_item {
  background-color: #f2ede8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 13px;
  margin-right: 4px;
  max-width: 70px;
}

.collection_item:hover {
  transform: translate(0, -70px);
  -webkit-transform: translate(0, -70px);
  /** Chrome & Safari **/
  -o-transform: translate(0, -70px);
  /** Opera **/
  -moz-transform: translate(0, -70px);
  /** Firefox **/
  transition: all 0.5s ease-out;
}

.collection_item:hover .after_item {
  transform: translate(0, 70px);
  -webkit-transform: translate(0, 70px);
  /** Chrome & Safari **/
  -o-transform: translate(0, 70px);
  /** Opera **/
  -moz-transform: translate(0, 70px);
  /** Firefox **/
  opacity: 1;
  transition: all ease-out 0.6s;
}

.collection_item:hover .beffor {
  opacity: 1;
  transition: all ease-out 0.6s;
}

.team {
  display: flex;
}
.team .team_item {
  width: 33%;
  max-height: 650px;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-out;
}
.team .team_item .team_img {
  width: 70%;
  margin: auto;
  padding-top: 20px;
}
.team .team_item .team_img img {
  max-width: 100%;
  max-height: 100%;
}
.team .team_item h1 {
  font-size: 27px;
  color: #4c4c4c;
  margin-bottom: 0;
  font-weight: 400;
}
.team .team_item h2 {
  font-size: 19px;
  color: #939598;
  font-weight: 400;
  margin-top: 15px;
}

.team_item:hover {
  -webkit-box-shadow: 2px 1px 8px 8px rgba(0, 0, 0, 0.13);
  -moz-box-shadow: 2px 1px 8px 8px rgba(0, 0, 0, 0.13);
  box-shadow: 2px 1px 8px 8px rgba(0, 0, 0, 0.13);
  transition: all 0.5s ease-out;
}

.social {
  width: 100%;
  display: flex;
  justify-content: center;
}
.social a {
  max-width: 24px;
  max-height: 24px;
  margin: 0 15px 35px;
}
.social a img {
  max-width: 100%;
  max-height: 100%;
}

.new_features {
  width: 100%;
  background-color: #f9f9f9;
  padding-top: 55px;
}
.new_features .features_container {
  display: flex;
  text-align: left;
}
.new_features .features_container .pictures {
  width: 50%;
  margin-top: 50px;
}
.new_features .features_container .pictures img {
  max-width: 100%;
  max-height: 100%;
}
.new_features .features_container .list_features {
  width: 50%;
  margin-top: -25px;
}
.new_features .features_container .list_features h1 {
  font-weight: 700;
  font-size: 33px;
  color: #4c4c4c;
  margin-bottom: 20px;
  margin-top: 0;
}
.new_features .features_container .list_features h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 33px;
  color: #939598;
}
.new_features .features_container .list_features h2 span {
  color: #1abc9c;
}
.new_features .features_container .list_features p {
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 15px;
  color: #c1b0b3;
}
.new_features .features_container .list_features ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.new_features .features_container .list_features ul li {
  list-style-type: none;
  width: 50%;
  color: #8d7a7a;
  font-size: 16px;
  font-weight: 300;
  padding: 7.5px 0;
}
.new_features .features_container .list_features ul li:before {
  content: "➠";
  color: #111111;
  border: 2px solid #111111;
  border-radius: 50%;
  margin-right: 10px;
  max-width: 15px;
  max-height: 15px;
}

.posted {
  width: 100%;
  background-color: #141519;
  color: #f9f9f9;
  box-sizing: border-box;
  padding-bottom: 80px;
}
.posted .conteiner {
  padding: 0;
}
.posted h1 {
  font-size: 27px;
  font-weight: 300;
}
.posted .posted_item {
  display: flex;
}
.posted .posted_item .item {
  width: 25%;
}
.posted .posted_item .item .icon {
  max-height: 50px;
  max-width: 50px;
  margin-bottom: 15px;
}
.posted .posted_item .item h1 {
  font-size: 45px;
  font-weight: 300;
  margin: 0;
}
.posted .posted_item .item h2 {
  font-size: 18px;
  font-weight: 300;
}

.new_subscribe {
  width: 100%;
  background-color: #f1f1ef;
}

.Subscribe {
  display: flex;
  justify-content: flex-end;
  padding: 0 0 85px;
}
.Subscribe .Subscribe_item {
  width: 50%;
  padding-left: 110px;
  padding-right: 23px;
  text-align: left;
  box-sizing: border-box;
}
.Subscribe .Subscribe_item h1 {
  font-size: 46px;
  font-weight: 300;
  color: #4c4c4c;
  margin-bottom: 25px;
}
.Subscribe .Subscribe_item p {
  margin-top: 45px;
  font-size: 16px;
  color: #939598;
  font-weight: 300;
  line-height: 1.8;
}
.Subscribe .Subscribe_item .input_bar {
  background-color: white;
  display: flex;
}
.Subscribe .Subscribe_item .input_bar button {
  border: none;
  background: none;
  padding-right: 20px;
  cursor: pointer;
  outline: none;
  max-width: 60px;
  max-height: 60px;
}
.Subscribe .Subscribe_item .input_bar button img {
  max-width: 100%;
  max-height: 100%;
}
.Subscribe .Subscribe_item .input_bar input {
  border: none;
  width: 100%;
  padding: 17px 12px;
}
.Subscribe .Subscribe_item .input_bar input::placeholder {
  color: #c3c7d1;
  font-size: 14px;
  font-weight: 300;
}

.buy_padge {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 85px;
}
.buy_padge .icon {
  margin: 50px auto;
}
.buy_padge h2 {
  font-size: 16px;
  font-weight: 400;
  color: #939598;
  text-transform: uppercase;
}
.buy_padge h2 span {
  color: #1abc9c;
}
.buy_padge h1 {
  font-size: 47px;
  color: #4c4c4c;
  font-weight: 300;
  margin-bottom: 30px;
  margin-top: 0;
}
.buy_padge p {
  margin-top: 0;
  font-size: 16px;
  color: #939598;
  font-style: italic;
  font-weight: 500;
  opacity: 0.7;
  margin-bottom: 90px;
}
.buy_padge .btn_block a {
  box-sizing: border-box;
  background-color: #1abc9c;
  border-radius: 0;
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding: 19px 40px;
}

.product_packages {
  background-color: #f8f9fb;
  box-sizing: border-box;
  padding-bottom: 100px;
}
.product_packages .product {
  display: flex;
}
.product_packages .product .btn_block a {
  box-sizing: border-box;
  background-color: #1abc9c;
  border-radius: 0;
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding: 19px 40px;
}
.product_packages .product .product_item {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  box-sizing: border-box;
  padding: 40px 0;
  margin-right: 30px;
  -webkit-box-shadow: 1px 4px 13px 7px rgba(34, 60, 80, 0.06);
  -moz-box-shadow: 1px 4px 13px 7px rgba(34, 60, 80, 0.06);
  box-shadow: 1px 4px 13px 7px rgba(34, 60, 80, 0.06);
  transition: all 0.5s ease-out;
}
.product_packages .product .product_item h1 {
  font-size: 20px;
  font-weight: 500;
  color: #4c4c4c;
  margin-top: 0;
}
.product_packages .product .product_item .price {
  border-radius: 50%;
  border: 2px double #e1e1e1;
  max-width: 130px;
  max-height: 130px;
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;
  margin: 0 auto;
}
.product_packages .product .product_item .price p {
  font-size: 29px;
  font-weight: 500;
  color: #4c4c4c;
  margin: 45px;
}
.product_packages .product .product_item p {
  color: #939598;
  font-size: 16px;
  font-weight: 300;
}
.product_packages .product .product_item .weiht-regular {
  font-weight: 400;
  margin-top: 50px;
}
.product_packages .product .product_item ul {
  padding: 0;
  margin-bottom: 30px;
}
.product_packages .product .product_item ul li {
  list-style-type: none;
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 400;
  padding-bottom: 25px;
}
.product_packages .product .product_item ul li span {
  font-weight: 700;
}
.product_packages .product .product_item:hover {
  background-color: #1abc9c;
  color: white;
  transition: all 0.5s ease-out;
}
.product_packages .product .product_item:hover .price {
  background-color: #1abc9c;
}
.product_packages .product .product_item:hover h1 {
  color: white;
}
.product_packages .product .product_item:hover p {
  color: white;
}
.product_packages .product .product_item:hover .btn_block a {
  background-color: white;
  color: #1abc9c;
}
.product_packages .product .product_item:hover li {
  color: white;
}

.more_know a {
  color: #1abc9c;
  text-decoration: none;
}

.Get {
  box-sizing: border-box;
  padding-bottom: 90px;
}
.Get h1 {
  font-size: 57px;
  color: #4c4c4c;
  font-weight: 300;
  margin-bottom: 25px;
}
.Get p {
  font-size: 16px;
  color: #939598;
  margin-bottom: 55px;
}

.btn_store {
  display: flex;
  justify-content: center;
}
.btn_store .btn_store_item {
  margin-right: 15px;
  max-width: 211px;
  max-height: 69px;
  cursor: pointer;
}
.btn_store .btn_store_item img {
  max-width: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
}

.comments {
  width: 100%;
  background-color: #a5a5a5;
  box-sizing: border-box;
  padding-bottom: 175px;
}

.comments_item {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.comments_item .comments_photo {
  border-radius: 50%;
  max-width: 140px;
  max-height: 140px;
  width: 100%;
  margin: 0 auto 45px;
  background-color: white;
  overflow: hidden;
}
.comments_item .comments_photo img {
  max-width: 100%;
  max-height: 100%;
}
.comments_item p {
  margin: 40px 0;
  color: white;
  font-size: 16px;
  line-height: 1.5;
}
.comments_item a {
  color: white;
  outline: none;
  text-decoration: none;
  font-weight: bold;
}

.social_username {
  max-width: 135px;
  max-height: 40px;
  display: flex;
  margin: auto;
}
.social_username img {
  max-width: 16px;
  max-height: 16px;
  margin-right: 5px;
}

.gray_b {
  width: 100%;
  background-color: #f9f9f9;
  padding-bottom: 65px;
}
.gray_b .sponsor {
  display: flex;
}
.gray_b .sponsor .sponsor_item {
  width: 20%;
  display: flex;
  justify-content: center;
}
.gray_b .sponsor .sponsor_item img {
  max-width: 100%;
  max-height: 100%;
  height: 70%;
  margin: auto;
}

.contact_us {
  display: flex;
  padding-bottom: 55px;
}
.contact_us .input_contact {
  width: 50%;
  margin-right: 20px;
}
.contact_us .input_contact #submitbtn {
  max-width: 183px;
  max-height: 51px;
  background-color: #1abc9c;
  color: white;
  border: none;
}
.contact_us .input_contact input {
  padding: 17px 11px;
  border: 1px solid #cccccc;
}
.contact_us .input_contact #subject {
  margin-bottom: 30px;
}
.contact_us .input_contact input::placeholder {
  font-size: 16px;
  color: #939598;
}
.contact_us .input_contact textarea {
  margin-bottom: 70px;
  border: 1px solid #cccccc;
  max-height: 200px;
  height: 200px;
  resize: vertical;
}
.contact_us .input_contact textarea::placeholder {
  font-size: 16px;
  color: #939598;
}
.contact_us .input_contact #contactform {
  display: flex;
  flex-direction: column;
}
.contact_us .input_contact #contactform .name_email {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}
.contact_us .input_contact #contactform .name_email input {
  margin-right: 30px;
  width: 50%;
}
.contact_us .input_contact #contactform .name_email input:last-child {
  margin-right: 0;
}

.map {
  width: 50%;
  max-height: 355px;
  background-color: #4c4c4c;
}

.container_big {
  max-width: 1345px;
  margin: 0 auto;
  background-color: #f7f7f7;
}

.info {
  display: flex;
  width: 100%;
  padding-bottom: 55px;
}
.info .info_item {
  width: 33%;
  box-sizing: border-box;
  margin: 0;
  border-right: 1px solid #818181;
}
.info .info_item .icon {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 0;
}
.info .info_item h1 {
  color: #4c4c4c;
  font-size: 18px;
  margin: 25px 0 18px;
}
.info .info_item p {
  color: #4c4c4c;
  font-size: 18px;
}
.info .info_item a {
  color: #1abc9c;
  text-decoration: none;
}
.info .info_item:last-child {
  border-right: none;
}

.Purchase {
  width: 100%;
  background-color: #1abc9c;
}
.Purchase .purchase_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}
.Purchase .purchase_content .text {
  text-align: left;
  width: 60%;
}
.Purchase .purchase_content .text h1 {
  font-size: 46px;
  color: white;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 9px;
  opacity: 0.9;
}
.Purchase .purchase_content .text h1 span {
  font-weight: bold;
}
.Purchase .purchase_content .text p {
  margin-top: 0;
  font-size: 16px;
  color: white;
  font-weight: 400;
  opacity: 0.8;
}
.Purchase .purchase_content .btn_block {
  width: 30%;
}
.Purchase .purchase_content .btn_block a {
  color: white;
  box-shadow: none;
  border: 1px solid #ffffff;
  border-radius: 0;
}

@media (orientation: portrait) and (max-width: 1024px) {
  .padge {
    max-height: none;
  }

  .content {
    flex-direction: column;
  }
  .content .content_item {
    width: 100%;
    margin-bottom: 20px;
  }

  .our {
    max-height: none;
  }
  .our .content_slider {
    flex-direction: column;
    padding: 0;
    max-height: none;
  }
  .our .content_slider .slider {
    width: 100%;
    height: 460px;
    margin: 0 0 20px;
  }
  .our .content_slider .text_slider {
    box-sizing: border-box;
    width: 100%;
    margin: auto;
    max-height: none;
  }

  .services_web {
    flex-direction: column;
  }
  .services_web .ddm {
    width: 100%;
  }

  .btn_block {
    display: flex;
    flex-direction: column;
  }
  .btn_block .btn_item {
    margin: 0 0 5px;
  }

  .features_item {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .features_item .videos {
    width: 100%;
    height: 395px;
    padding: 0;
    margin-bottom: 20px;
  }
  .features_item .features_text {
    width: 100%;
    padding: 0;
  }

  .collection {
    flex-direction: column;
  }
  .collection .collection_item {
    width: 100%;
  }

  .team {
    flex-direction: column;
  }
  .team .team_item {
    width: 100%;
  }

  .new_features .features_container {
    flex-direction: column;
  }
  .new_features .features_container .pictures {
    width: 100%;
    margin-bottom: 25px;
  }
  .new_features .features_container .list_features {
    width: 100%;
    margin-bottom: 20px;
  }
  .new_features .features_container .list_features ul li {
    font-size: 14px;
  }

  .posted .posted_item {
    flex-direction: column;
  }
  .posted .posted_item .item {
    width: 100%;
  }

  .Subscribe .Subscribe_item {
    padding: 0;
    width: 100%;
  }

  .product_packages .product {
    flex-direction: column;
  }
  .product_packages .product .product_item {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact_us {
    flex-direction: column;
  }
  .contact_us .input_contact {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact_us .map {
    width: 100%;
    height: 460px;
  }

  .info {
    flex-direction: column;
  }
  .info .info_item {
    width: 100%;
    padding: 20px 0;
    border-right: none;
    border-bottom: 1px solid #4c4c4c;
  }
  .info .info_item:last-child {
    border-bottom: none;
  }

  .Purchase .purchase_content {
    flex-direction: column;
  }
  .Purchase .purchase_content .text {
    width: 100%;
    text-align: center;
  }
  .Purchase .purchase_content .text h1 {
    font-size: 30px;
  }
  .Purchase .purchase_content .btn_block {
    width: 100%;
  }

  .title_item .title {
    font-size: 50px;
  }
}
@media (orientation: landscape) and (max-width: 1024px) {
  .padge {
    max-height: none;
  }

  .our {
    max-height: none;
  }
  .our .content_slider {
    flex-direction: column;
    padding: 0;
    max-height: none;
  }
  .our .content_slider .slider {
    width: 100%;
    height: 460px;
    margin: 0 0 20px;
  }
  .our .content_slider .text_slider {
    box-sizing: border-box;
    width: 100%;
    max-height: none;
  }

  .services_web {
    flex-direction: column;
  }
  .services_web .ddm {
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .features_item {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .features_item .videos {
    width: 100%;
    height: 395px;
    padding: 0;
    margin-bottom: 20px;
  }
  .features_item .features_text {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .btn_block {
    display: flex;
    flex-wrap: wrap;
  }
  .btn_block .btn_item {
    margin: 0 5px 15px;
  }

  .collection .collection_item {
    width: 50%;
  }

  .team {
    flex-direction: column;
  }
  .team .team_item {
    width: 100%;
  }

  .new_features .features_container {
    flex-direction: column;
  }
  .new_features .features_container .pictures {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }
  .new_features .features_container .list_features {
    width: 100%;
    margin-bottom: 20px;
  }
  .new_features .features_container .list_features ul li {
    font-size: 14px;
  }

  .posted .posted_item {
    flex-wrap: wrap;
  }
  .posted .posted_item .item {
    width: 50%;
    margin-bottom: 20px;
  }

  .Subscribe .Subscribe_item {
    padding: 0;
    width: 100%;
  }

  .buy_padge .btn_block a {
    margin: auto;
  }

  .product_packages .product {
    flex-direction: column;
  }
  .product_packages .product .btn_block a {
    margin: auto;
  }
  .product_packages .product .product_item {
    width: 60%;
    margin: 0 auto 20px;
  }

  .gray_b .sponsor {
    flex-wrap: wrap;
  }
  .gray_b .sponsor .sponsor_item {
    width: 30%;
    margin: 0 10px 10px 0;
  }

  .contact_us {
    flex-direction: column;
  }
  .contact_us .input_contact {
    width: 100%;
    margin-bottom: 20px;
  }
  .contact_us .map {
    width: 100%;
    height: 460px;
  }
}

/*# sourceMappingURL=style.css.map */
